<h3>New Wiki entry</h3>
<form {{action "save" on="submit"}}>
    <p>{{view Ember.TextField valueBinding="model.author" placeholder="Whats your name?"}}</p>
    <p>{{view Ember.TextField valueBinding="model.title" placeholder="Title?"}}</p>
    <p>{{view Ember.TextArea valueBinding="model.content" placeholder="What do you want to fill out here?"}}</p>
    
    <p><button>Create Wiki Entry</button></p>
</form>


<p>Preview</p>
<div class="panel">
    {{model.content}}
</div>