<h3>New Wiki entry</h3>
<form {{action "createWikientry" on="submit"}}>
    <p>{{input type="text" value=newAuthor placeholder="Whats your name?"}}</p>
    <p>{{input type="text" value=newTitle placeholder="Title?"}}</p>
    <p>{{textarea value=newWikiContent placeholder="What do you want to fill out here?"}}</p>
    
    <p><button>Create Wiki Entry</button></p>
</form>


<p>Preview</p>
<div class="panel">
    {{markdown newWikiContent}}
</div>