<h1> {{title}} </h1>
<p>By: {{model.author}}</p>
<p>Created: {{dateFormat model.created}}</p>
<p>Updated: {{dateFormat model.modified}}</p>

{{#if editing}}
    {{textarea value=model.wikiContent}}

{{/if}}
<div class="panel">
    {{markdown model.wikiContent}}
</div>


<div>
    {{#if editing}}
        <button {{action 'saveChanges'}}>Save</button>
        <button {{action 'cancel'}}>Cancel</button>
    {{else}}
        <button {{action 'edit'}}>Edit</button>
    {{/if}}
</div>